*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
/core/common/consumer-rules.pro
/core/data/consumer-rules.pro
/core/domain/consumer-rules.pro
/core/network/consumer-rules.pro
/feature/search/consumer-rules.pro
/core/common/proguard-rules.pro
/core/data/proguard-rules.pro
/core/domain/proguard-rules.pro
/core/model/proguard-rules.pro
/core/network/proguard-rules.pro
/feature/search/proguard-rules.pro
/core/common/.gitignore
/core/data/.gitignore
/core/domain/.gitignore
/core/model/.gitignore
/core/network/.gitignore
/feature/search/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/feature/details/.gitignore
/feature/details/consumer-rules.pro
/feature/details/proguard-rules.pro
